@import "partials/font";
@import "partials/mixins";
@import "partials/variables";
@import "partials/reset";

*{
    margin: 0;
    padding: 0;
    outline: 0;
}
html,body{
    overflow: hidden;
}
html,body,#app{
    margin: 0;
     padding: 0;
}
html,body,#app{
    width:100%;
    height: 100%;
	box-sizing: border-box;
   
}

#app>div:first-child{
    height: 90%;
    width:100%;
    top:3%;
    margin-top: 10px;
    position: absolute;
}
.brand-section,.input-form{
    width: 100%;
}


.login-container{
    width:inherit;
    height: inherit;
    margin: 0 auto;
    font-family: 'Lato';
    position: relative;
    font-size:14px;
    & .image-section{
        justify-content: center;
        align-items: center;
        display: flex;
        background: url(../../app/images/human-2944064_1280.jpg),rgba(0,0,0,.7);
        background-blend-mode:darken;
        background-position: center;
        
         & .tagline-text{
             width:100%;
			 opacity: 0;
             text-align: center;
             font-size: 1.8rem;
             font-weight: 100;
             color: white;
			 transition: all 200ms linear 200ms;
			 text-shadow: 0 -.05em .015em #334166;
        }
		& .fadeIn{
			opacity: 1;
		}
    }
}


.to-signup{
	position: relative;
	width: 100%;
	border: 1px solid red;
	z-index: -2345676543;
	text-align: center;
	& .text-content{
		display: inline-block;
		text-align: left;
		width: 70%;
		& p{
			display: inline-block;
		}
	}
}
.circle{
    z-index: -2345678987654;
}
.login-container {
    margin-bottom: 20px;
    & .login-content{
        display: flex;
        box-shadow: 1px 3px 4px 2px rgba(123,123,123,.9);
        margin-bottom: 10px;
    }
}

.mini-circle{
     border-bottom-right-radius:100%;
     border-top-right-radius:100%,
}
.mini-circle-4{
    bottom: 0;
    position: absolute;
}

.input-section-container, .login-content{
    height: inherit;
}
//brand name

.login-footer{
	position: relative;
	height: 20%;
	& h4{
		position: absolute;
		width: 100%;
		bottom: 10px;
		text-align: center;
		text-shadow: 0 -.05em .015em #334166;
        color: $black-color;
        font-weight: 400;
         -webkit-text-fill-color: transparent;
                background-image: linear-gradient(92deg, rgba(100, 10, 200, 0.3), rgba(140, 130, 4, 0.1));
           -webkit-background-clip: text;
	}
}

.brand-section{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    position: relative;
    text-align: center;
}
.input-container{
    width: 100%;
    height: 100%;
    z-index: 34567890;
    position: relative;
    & .brand-name{
        display: inline-block;
        width: 70%;
        text-align: left;
        & h2{
            font-weight: 400;
            font-size:2.4rem;
            margin-bottom: 1.3rem;
            a{
                text-shadow: 0 -.05em .015em #334166;
                color: $black-color;
                font-weight: 400;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(92deg, rgba(100, 10, 200, 0.3), rgba(140, 130, 4, 0.1));
                -webkit-background-clip: text;
            }
        }
       
    }
    
    .login-btn-container{
        text-align: left;
        width: 70%;
        display: inline-block;
    }
    .login-form{
        text-align: center;
        position: absolute;
        width: 100%;
    }
    
    & .input-form{
        height:45% ;
		border: 1px solid red;
        margin: 0 auto;
        position: relative;
        & label{
            float: left;
			font-weight: 700;
            margin-bottom: 10px;
			color: rgba(40,40,40,.7);
        }
        & .form-group{
            width:70%;
            margin-bottom: 20px;
            display: inline-block;
        }
        & .input-data{
            border: none;
            width:100%;
			font-size: 'Lato';
            font-weight: 100;
            border-bottom: 1px solid rgba(10,11,50,.9);
            padding-top: 2px;
            padding-bottom: 2px;
            outline: 0;
        }
        & .login-btn{
            width:7.2rem;
            border-radius: 1.4rem;
            border: none;
            height: 2.0rem;
            cursor: pointer;
            background-color: rgba(23,23,60,.9);
            color: white;
            font-weight: 600;
            text-shadow: 0 -.05em .015em #334166;
            outline: none;
        }
    }
}